:root {
  --primary-color: black;
  --secondary-color: white;
  --default-font: Roboto;
}
body {
  background-color: var(--primary-color);
  padding: 148px;
}
.hero {
  background-image: url(/images/giraffe.jpeg);
  background-size: cover;
  padding: 300px 200px;
  margin-bottom: 5%;
}
.hero h3 {
  text-align: center;
  color: var(--secondary-color);
}
.hero h1 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 72px;
  font-family: var(--default-font);
  margin-left: -30px;
}
.hero p {
  text-align: center;
  color: var(--secondary-color);
  font-weight: 500;
}
.btn-primary {
  padding: 20px 30px;
  border: 50px;
  margin-top: 20%;
  margin-left: 40%;
  font-size: 14px;
  font-family: var(--default-font);
  background: var(--secondary-color);
  color: var(--primary-color);
}
.card-img-top {
  width: 100%;
  height: 100%;
}
@media (max-width: 900px) {
  .hero {
    background-size: cover;
    padding: 200px;
  }
  .hero h1 {
    font-size: 44px;
  }

  .hero h3 {
    font-size: 44px;
  }
  .hero p {
    display: none;
  }
  .main {
    max-width: 100%;
  }
}
