* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: black;
  --secondary-color: white;
  --default-font: Roboto;
}
body {
  background-color: var(--primary-color);
  padding: 50px;
  margin: auto;
}
.hero {
  background-image: url(/images/giraffe.jpeg);
  background-size: cover;
  padding: 250px;
  margin-bottom: 5%;
}
.text-box {
  text-align: center;
  top: 50%;
  bottom: 50%;
  width: 90%;
}
.text-box h3 {
  color: var(--secondary-color);
}
.text-box h1 {
  color: var(--secondary-color);
  font-size: 72px;
  font-family: var(--default-font);
}
.text-box p {
  color: var(--secondary-color);
  font-weight: 500;
  margin-bottom: 5%;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  padding: 12px 30px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 14px;
  font-family: var(--default-font);
  background: var(--secondary-color);
  color: var(--primary-color);
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
  margin-left: 5%;
}
.column {
  padding: 0;
  margin: 0;
}
.column img {
  width: 100%;
  vertical-align: middle;
  padding: 5px;
}
@media screen and (max-width: 900px) {
  .hero {
    background-size: cover;
    padding: 100px;
  }
  .text-box h1 {
    font-size: 20px;
  }

  .text-box h3 {
    font-size: 25px;
  }
  .text-box p {
    display: none;
  }
  .row {
    margin: 0;
    padding: 0;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .about-section {
    margin-top: 10%;
    padding: 100px;
  }
}
.about-section h3 {
  color: rgb(231, 12, 114);
  font-size: 18px;
  font-weight: 700;
}
.about-section h1 {
  color: var(--secondary-color);
  font-size: 64px;
}
.about-section {
  color: var(--secondary-color);
}
.btn {
  padding: 18px 30px;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50px;
}
.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #525157;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--secondary-color);
}
.gallery-section h1 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 64px;
}
.contact-section {
  text-align: center;
  color: var(--secondary-color);
}
.contact-section h4 {
  color: rgb(231, 12, 114);
  font-size: 18px;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}
